

<ion-view view-title="Finance Management App">
    <ion-content>

        <div class="im-wrapper">
          <!-- Button List -->
          <h4 class="border-top"><i class="icon ion-ios-list-outline"></i> Customer List</h4>
          <div class="list">
            <div class="item item-button-right">
              {{'AAA'}}
              <button class="button button-balanced ink">
                <i class="icon ion-ios-telephone"></i>
              </button>
            </div>
            <div class="item item-button-right">
              Dad
              <button class="button button-balanced ink">
                <i class="icon ion-ios-telephone"></i>
              </button>
            </div>
            <div class="item item-button-right">
              Sis
              <button class="button button-balanced ink">
                <i class="icon ion-ios-telephone"></i>
              </button>
            </div>
            <div class="item item-button-right">
              Bro
              <button class="button button-balanced ink">
                <i class="icon ion-ios-telephone"></i>
              </button>
            </div>
          </div>
        </div>
        <br />
        <br />
        <br />
        <br />
    </ion-content>
</ion-view>
